@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  list-style: none;
  text-decoration: none;
  color: #79280d;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body {
  background: white;
}
header {
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
  font-weight: 700;
  padding-right: 16px;
  margin: 0;
}
header ul li {
  padding: 16px;
  transition: all 0.5s;
}
header ul li:hover {
  transform: scale(1.15);
}
main {
  display: flex;
}
main div img {
  width: 50%;
  height: 100%;
}
main ul {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 662px;
}
main ul li {
  background: url("./imagens/background\ dos\ assuntos.jpg");
  background-size: cover;
  margin-right: 46px;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: all 0.5s;
}
main ul li:hover {
  transform: scale(1.15);
}
main ul li a {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all 0.5s;
}
main ul li a:hover {
  transform: scale(1.05);
}
